<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='index.js') }}"></script>

  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container align-items-center d-flex flex-column h-100">
    <div class="row justify-content-center w-75">
      <div class="col d-flex align-items-center flex-column">
        <h1 class="mt-3 mb-4 text-center">Web SVD Compress</h1>
        <canvas id="canvas" class="shadow-lg" width="600" height="400">
          <p>Something went wrong!</p>
        </canvas>
        <div class="m-3 d-flex flex-row">
            <img class="m-1 img-fluid gallery rounded enabled" src="{{ url_for('static', filename='images/bridge.png') }}" alt="Card image cap">
            <img class="m-1 img-fluid gallery rounded enabled" src="{{ url_for('static', filename='images/city.png') }}" alt="Card image cap">
            <img class="m-1 img-fluid gallery rounded enabled" src="{{ url_for('static', filename='images/horizon.png') }}" alt="Card image cap">
            <img class="m-1 img-fluid gallery rounded" src="{{ url_for('static', filename='images/shore.png') }}" alt="Card image cap">
        </div>
        <form id="image-upload" class="d-flex flex-column align-items-center">
          <div class="custom-file m-3">
            <input id="file-input" type="file" class="custom-file-input" accept=".png,.jpg" id="customFile">
            <label id="file-label" class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <button id="upload-btn" class="btn btn-primary-outline border-primary">
            <span id="upload-spinner" class="spinner-border spinner-border-sm d-none" role="status"></span>
            Upload
          </button>
        </form>
      </div>
    </div>
    <div class="row px-5 justify-content-center w-100">
      <div class="col-lg-5 d-flex align-items-center flex-column">
        <hr class="w-75" />
        <h4>Info</h4>
      </div>
    </div>
    <div class="row px-5 justify-content-center w-100">
      <div class="col-lg-5 d-flex align-items-center flex-column">
        <p class="text-left">
          An interactive demo showcasing how the singular value decomposition can be applied to image compression.
        </p>
        <p>
          In linear alebgra, the <i>singular value decomposition</i> of an matrix A of size m x n is a factorization
          of the matrix in the form A-UΣV*, where U is m x m, Σ is m x n, and V* (or V transpose) is n x n. The diagonal
          entries of Σ, also known as the singular values of the matrix, are ordered from greatest to least. This allows
          for a low rank approximation of A of by selecting the first k columns of U, entries of Σ, and rows of V*
          and multiplying them back together, resulting in an m x n matrix of rank k.
        </p>
        <p class="text-left">
          By decomposing an image into its 3 color channels, we can represent an image as 3 separate matricies
          of the form M = UΣV*. In this sense,
          After constructing an SVD for each channel, the image can be "compressed" by calculating a low rank
          approximation for each color using their singular values. A normal image represented by an m x k matrix
          stores <b>3*m*n</b> different values, one for each pixel, to resconstruct the matrix; however, the low rank
          approximation of rank k uses the product of an m x k matrix, k singular values, and a k x n matrix for each
          color channel, which can me stored as <b>3*(m*k + k + n*k)</b> values. For low values of k, this saves much
          more space in comparison to storing the full matrix, at the cost of image quality
        </p>
      </div>
      <div class="col-lg-5 d-flex align-items-center flex-column">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Singular_value_decomposition_visualisation.svg/800px-Singular_value_decomposition_visualisation.svg.png"
          alt="a diagram of an svd" class="img-fluid">
        <cite>By Cmglee - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=67853297</cite>
      </div>
    </div>
    <div class="row mt-auto justify-content-center w-100">
      <div class="col w-100 d-flex flex-column align-items-center">
        <hr class="w-75" />
        <p class="text-secondary mb-0">Github</p>
        <p class="text-secondary">All example images © 2021 Andy Qin</p>
      </div>
    </div>
  </div>
</body>

</html>